/* Hero */
#hero {
	background: ease-gradient(
		60deg,
		rgba(251, 252, 253, 1),
		rgba(229, 229, 229, 0.5)
	) !important;
	background: #fbfcfd;
}

.hero-image-overlay {
	top: 10%;
	right: 8%;
}
.hero-image-overlay img {
	opacity: 0.25;
	position: fixed;
}
@media only screen and (max-width: 768px) {
	.hero-image-overlay {
		right: -6%;
		top: 6%;
	}
	.hero-image-overlay img {
		opacity: 0.15 !important;
		width: 80%;
		height: auto;
	}
}

.wave-line {
	display: block;
}

/* Content */
.content {
	transform: scale(1);
}

.content--scaleDown {
	-webkit-animation: content--scaleDown 450ms ease 0s 1 normal forwards;
	animation: content--scaleDown 450ms ease 0s 1 normal forwards;
}
.content--Fallback {
	-webkit-animation: content--Fallback 450ms ease 0s 1 normal forwards;
	animation: content--Fallback 450ms ease 0s 1 normal forwards;
}
.img--scaleUp {
	-webkit-animation: img--scaleUp 450ms ease 0s 1 normal forwards;
	animation: img--scaleUp 450ms ease 0s 1 normal forwards;
}
.img--Fallback {
	-webkit-animation: img--Fallback 450ms ease 0s 1 normal;
	animation: img--Fallback 450ms ease 0s 1 normal;
}

@keyframes content--scaleDown {
	0% {
		transform: scale(1);
		transform-origin: center;
		opacity: 1;
		z-index: 3;
	}
	100% {
		transform: scale(0.86);
		transform-origin: 54% 42%;
		opacity: 0.5;
		z-index: 1;
	}
}
@keyframes content--Fallback {
	0% {
		transform: scale(0.86);
		transform-origin: 54% 42%;
		opacity: 0.5;
		z-index: 1;
	}
	100% {
		transform: scale(1);
		transform-origin: center;
		opacity: 1;
		z-index: 3;
	}
}

@keyframes img--scaleUp {
	0% {
		transform: scale(1);
		transform-origin: center;
		opacity: 0.25;
		z-index: 1;
	}
	100% {
		transform: scale(1.12);
		transform-origin: 51.2% 54%;
		opacity: 0.5;
		z-index: 3;
	}
}
@keyframes img--Fallback {
	0% {
		transform: scale(1.12);
		transform-origin: 51.2% 54%;
		opacity: 0.5;
		z-index: 3;
	}
	100% {
		transform: scale(1);
		transform-origin: center;
		opacity: 0.25;
		z-index: 1;
	}
}

/* Socaial Buttons */
.social-wrapper {
	top: 32% !important;
}
.icon-tabler,
.social-wrapper li a {
	width: 32px !important;
	height: 32px !important;
	stroke-width: 1.25 !important;
}

@media only screen and (max-width: 768px) {
	.icon-tabler,
	.social-wrapper li a {
		width: 16px !important;
		height: 16px !important;
	}
}
