.labeltext-animated-secondary {
	--text: #313131;
	--shadow: 0 2px 8px -1px rgba(49, 49, 49, 0.32);
	--shadow-hover: 0 4px 20px -2px rgba(49, 49, 49, 0.5);
}
.labeltext-animated-primary {
	--text: #ffd717;
	--shadow: 0 2px 8px -1px rgba(255, 215, 23, 0.04);
	--shadow-hover: 0 4px 20px -2px rgba(255, 215, 23, 0.12);
}

.sm-labeltext-animated {
	--font-size: 0.875rem;
}
.md-labeltext-animated {
	--font-size: 1rem;
	padding: 1rem 2rem;
}
.lg-labeltext-animated {
	--font-size: 1.25rem;
}
.labeltext-animated {
	--text: #121212;
	--duration: 0.44s;
	--move-hover: -4px;
	--font-shadow: var(--font-size);
	display: flex;
	letter-spacing: 1px;
	color: var(--text);
	transform: translateY(var(--y)) translateZ(0);
	transition: transform var(--duration) ease, box-shadow var(--duration) ease;
	line-height: var(--font-size);
	box-shadow: none;
	outline: none;
	text-decoration: none;
}
.labeltext-animated-bx {
	--shadow: 0 2px 8px -1px rgba(18, 18, 18, 0.32);
	--shadow-hover: 0 4px 20px -2px rgba(18, 18, 18, 0.5);
	box-shadow: var(--shadow);
}
.labeltext-animated-fast {
	--duration: 0.32s;
}
.labeltext-animated-reverse {
	--font-shadow: calc(var(--font-size) * -1);
}
.labeltext-animated-reverse:hover span {
	--m: calc(var(--font-size));
}
.labeltext-animated div {
	display: flex;
	overflow: hidden;
	text-shadow: 0 var(--font-shadow) 0 var(--text);
}
.labeltext-animated div span {
	display: block;
	backface-visibility: hidden;
	font-style: normal;
	transition: transform var(--duration) ease;
	transform: translateY(var(--m)) translateZ(0);
}
.labeltext-animated div span:nth-child(1) {
	transition-delay: 0.05s;
}
.labeltext-animated div span:nth-child(2) {
	transition-delay: 0.1s;
}
.labeltext-animated div span:nth-child(3) {
	transition-delay: 0.15s;
}
.labeltext-animated div span:nth-child(4) {
	transition-delay: 0.2s;
}
.labeltext-animated div span:nth-child(5) {
	transition-delay: 0.25s;
}
.labeltext-animated div span:nth-child(6) {
	transition-delay: 0.3s;
}
.labeltext-animated div span:nth-child(7) {
	transition-delay: 0.35s;
}
.labeltext-animated div span:nth-child(8) {
	transition-delay: 0.4s;
}
.labeltext-animated div span:nth-child(9) {
	transition-delay: 0.45s;
}
.labeltext-animated div span:nth-child(10) {
	transition-delay: 0.5s;
}
.labeltext-animated div span:nth-child(11) {
	transition-delay: 0.55s;
}
.labeltext-animated:hover {
	--y: var(--move-hover);
	--shadow: var(--shadow-hover);
}
.labeltext-animated:hover span {
	--m: calc(var(--font-size) * -1);
}
