/* Navbar */
.navbar-brand .avatar {
	width: 60%;
}

.navbar-nav .dropdown ul li:hover {
	background-color: #fbfcfd !important;
}

.navbar-nav li a,
.dropdown-menu li a {
	align-items: center;
}

@media all and (min-width: 768px) {
	.navbar .dropdown-menu {
		left: 0; /* position submenu card */
		right: auto;
	}
	.navbar .nav-item .dropdown-menu {
		display: block;
		opacity: 0;
		visibility: hidden;
		transition: 0.3s;
		margin-top: 0;
	}
	.navbar .nav-item:hover .nav-link {
		color: var(--light);
	}
	.navbar .dropdown-menu.fade-down {
		top: 80%;
		transform: rotateX(-75deg);
		transform-origin: 0% 0%;
	}
	.navbar .dropdown-menu.fade-up {
		top: 180%;
	}
	.navbar .nav-item:hover .dropdown-menu {
		transition: 0.3s;
		opacity: 1;
		visibility: visible;
		top: 100%;
		transform: rotateX(0deg);
	}
	.dropdown-menu li {
		position: relative;
	}
	.nav-item .submenu {
		display: none;
		position: absolute;
		left: 100%;
		top: -7px;
	}
	.nav-item .submenu-left {
		right: 100%;
		left: auto;
	}
	.dropdown-menu > li:hover {
		background-color: #f1f1f1;
	}
	.dropdown-menu > li:hover > .submenu {
		display: block;
	}
}

@media only screen and (max-width: 767.9px) {
	.navbar-light {
		background: ease-gradient(
			180deg,
			rgba(255, 220, 52, 100) 0%,
			rgba(255, 215, 23, 100) 100%
		) !important;
		background: rgb(255, 215, 23);
	}
	.navbar-light .navbar-toggler-icon {
		background: none;
	}
	a.text-secondary:hover,
	button.text-secondary:hover,
	a.text-secondary:focus,
	button.text-secondary:focus {
		color: var(--secondary-light) !important;
	}
	a.text-secondary-light:hover,
	button.text-secondary-light:hover,
	a.text-secondary-light:focus,
	button.text-secondary-light:focus {
		color: var(--neutral-dark) !important;
	}
	a.text-dark:hover,
	button.text-dark:hover,
	a.text-dark:focus,
	button.text-dark:focus {
		color: var(--secondary-light) !important;
	}
	.dropdown-menu .dropdown-menu {
		margin-left: 0.7rem;
		margin-right: 0.7rem;
		margin-bottom: 0.5rem;
	}

	a.dropdown-toggle:after {
		display: inline-flex !important;
		margin-left: 0.255em;
		content: '';
		border-top: 0.3em solid;
		border-left: 0.3em solid transparent;
		border-bottom: 0;
		border-right: 0.3em solid transparent;
	}

	a.dropdown-toggle:after {
		border-top-color: var(--secondary-light) !important;
	}
}
