/* Only for reference
  @import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
  @import './theme.min.css';
  @import './css/navbar.css';
  @import './css/hero.css';
  @import './css/labeltext.css';
  @import './css/calendly.widget.css';
*/

*:hover {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: opaallcity 0.3s ease;
}

body {
	height: 60vh !important;
}

.bg-light {
	background-color: #fafafa !important;
}

a.hover-effect:hover,
img.hover-effect:hover,
button.hover-effect:hover {
	opacity: 0.7 !important;
}
