@import './navbar.css';
@import './hero.css';
@import './labeltext.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&display=swap');
@import url('https://assets.calendly.com/assets/external/widget.css');

/* Functional */
*:hover {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: opaallcity 0.3s ease;
}

body {
	height: 70vh !important;
}

.bg-light {
	background-color: #fafafa !important;
}

a.hover-effect:hover,
img.hover-effect:hover,
button.hover-effect:hover {
	opacity: 0.7 !important;
}
