@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';

/* Functional */
*:hover {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: opaallcity 0.3s ease;
}

body {
	height: 70vh !important;
}

.bg-light {
	background-color: #fafafa !important;
}

a.hover-effect:hover,
img.hover-effect:hover,
button.hover-effect:hover {
	opacity: 0.7 !important;
}
