/* Functional */
*:focus {
	box-shadow: none !important;
	outline: none;
}
*:hover {
	-webkit-transition: opacity 0.3s ease;
	-moz-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
}

.bg-light {
	background-color: #fafafa !important;
}

.hide-lg,
.hide-md,
.hide-sm {
	display: inherit;
}
@media only screen and (max-width: 992px) {
	.hide-lg {
		display: none !important;
	}
}
@media only screen and (max-width: 768px) {
	.hide-md {
		display: none !important;
	}
}
@media only screen and (max-width: 576px) {
	.hide-sm {
		display: none !important;
	}
}

@media only screen and (max-width: 992px) {
	.navbar-light {
		background: linear-gradient(
			180deg,
			rgba(255, 215, 23, 0.95) 0%,
			rgba(255, 215, 23, 1) 100%
		) !important;
		background: rgb(255, 215, 23);
	}
	.navbar-light .navbar-toggler-icon {
		background: none;
	}
}

.navbar-brand .avatar {
	width: 60%;
}

.fs-upper {
	font-size: 0.75rem;
}

/* Hero */
#hero {
	background: linear-gradient(
		to bottom right,
		rgba(251, 252, 253, 1),
		rgba(229, 229, 229, 0.5)
	) !important;
	background: #fbfcfd;
}

.hero-image-overlay {
	z-index: -1;
	position: absolute;
	display: inline-block;
	width: 90%;
	height: 90%;
	top: 12%;
	right: 0;
	background-image: url('https://res.cloudinary.com/dwddqgedw/image/upload/v1629847897/Profile_Pic-removebg_qlmntv.png');
	background-size: contain;
	background-position: bottom right;
	background-repeat: no-repeat;
	opacity: 0.35;
}

@media only screen and (max-width: 768px) {
	.hero-image-overlay {
		opacity: 0.15;
	}
}

.hover-effect,
.hover-effect:hover {
	-webkit-transition: opacity 0.3s ease;
	-moz-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
}
a.hover-effect:hover,
img.hover-effect:hover,
button.hover-effect:hover {
	opacity: 0.7;
}

.wave-line {
	background: url('https://res.cloudinary.com/dwddqgedw/image/upload/v1629735666/Studio%20Branding/Wave_line_primary.svg')
		no-repeat;
	height: 18px;
	width: 96%;
	background-position: center center;
	background-attachment: cover;
	background-size: 100% 100%;
	display: block;
	opacity: 0.95;
}
